{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Page de test</title>
    {% tailwind_css %}
</head>
<body>
    {% include "includes/header.html" %}
    <main>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </main>
    {% include "includes/footer.html" %}
</body>
</html>
<link rel="stylesheet" type="text/css" href="{% static 'restaurant/style/style.css' %}">
<script src="{% static 'restaurant/js/script.js' %}"></script>
